#navbar{
    margin-bottom: 0px;
    border-radius: unset;
    background: #CC5653!important;
    border: none;
    color: white;
}

.navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color: white!important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background: #9d413e!important;
    border: none;
    color: white;
}

#button_reload{
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    height: 64px;
    width: 64px;
    border-radius: 100%;
    border:none;
    margin: 20px;
    background: #CC5653;
    color: white;
}

body{
    margin: 0;
    text-align: center;
    background: #CC5653;
}

.image-background{
    width: auto;
    height: auto;
    border: none;
    margin-top: 205px;
    margin-left: 0 auto;
     
}

.danger{
    color: red;
}

.success{
    color: green;
}
.button {
  border-radius: 10px;
  background-color: #FFFFFF;
  border: none;
  color: #cc5653;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 597px;
  display: flex;
  justify-content: center;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative; 
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}